{% extends 'base.html' %}

{% block title %}Quiénes Somos{% endblock %}

{% block content %}
<section>
    <h2>Nuestra Historia</h2>
    <p>Fundada en 2010, Seguridad Total ha crecido para convertirse en líder en soluciones de seguridad.</p>
</section>

<section>
    <h2>Misión</h2>
    <p>Proporcionar seguridad confiable y accesible para todos.</p>
</section>

<section>
    <h2>Visión</h2>
    <p>Ser reconocidos como la empresa de seguridad más innovadora del mundo.</p>
</section>

<section>
    <h2>Nuestro Equipo</h2>
    <img src="../static/img/fuerza_seguridad.png" height="200" weight="400" alt="Logo VanEly">
    <p>Nuestro equipo está compuesto por expertos en seguridad con años de experiencia.</p>
</section>
{% endblock %}