{% extends 'base.html' %}

{% block title %}Contacto{% endblock %}

{% block content %}
<section>
    <h2>Tienes alguna duda?, comunicate con nosotros </h2>
    <form method="POST" action="{{ url_for('contacto') }}">
        <table style="border: black 1px solid;">
            <tr><td><label for="name">Nombre:</label></td>
                <td><input type="text" id="name" name="name" required></td></tr>
            <tr><td> <label for="email">Correo Electrónico:</label></td>
                <td><input type="email" id="email" name="email" required></td></tr>
            <tr><td><label for="message">Mensaje:</label></td>
                <td><textarea id="message" name="message" required></textarea></td></tr>
        </table>
        <button type="submit">Enviar mensaje</button>
    </form>
</section>

<section>
    <h3>Datos de Contacto</h3>
    <p>Dirección: AV. Juan Pablo II, Edificio "Los Vengadores" Segundo Piso, al frente de la UPEA</p>
    <p>Teléfono: +591 77712345</p>
    <p>Email: VanEly_contacto@seguridadtotal.com</p>
</section>

<section>
    <h3>Ubicación</h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.6371171513542!2d-68.1969821240652!3d-16.49390244057002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915edf000d75e3c1%3A0x6602f864d5bb539e!2sCafe%20karaoke%20La%20Casa!5e0!3m2!1ses!2sbo!4v1744127695716!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.871037471339!2d-77.03652982519531!3d38.89767627957488!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7bcdecbb1df%3A0x715969d86d0b76bf!2sThe%20White%20House!5e0!3m2!1sen!2sus!4v1698745678901!5m2!1sen!2sus" 
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
</section>
{% endblock %}